body {
    margin: 0;

    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f2f2f2;

    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;

}

nav ul li {
    margin-right: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.skills,
.projects {
    padding: 50px 0;
}


.card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.card img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}



footer a {
    color: #fff;
    text-decoration: none;
}

footer button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.3s ease;
}



footer button:hover {
    background-color: #45a049;
}
